@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.homepage {
    position: relative;
    width: 1024px;
    height: 768px;
    background: #FFFFFF;
    left: 17%;
    margin-top: 5%;
}