.email-container {
    position: absolute;
    width: 215px;
    height: 90px;
    left: 261px;
    top: 180px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #555555;
}

.email-label {
    position: absolute;
    width: 29px;
    height: 14px;
    left: 261px;
    top: 157px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #555555;
}