.delete-icon {
    position: absolute;
    width: 24px;
    height: auto;
    left: 490px;
    color: #FFFF;
    background: #FF5757;
    border: 1px solid #FF5757;
    border-radius: 1rem;
    font-size: large;

    // background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    // transform: rotate(90deg); 
 
}

// .delete-icon-container { 
//     position: absolute;
//     left: 490px;

// }
