.add-item-button {
    position: absolute;
    width: 30px;
    height: auto;
    color: #FFFF;
    background-color: #579AFF;
    border: 1px solid #579AFF;
    border-radius: 3rem;
    font-size: 25px;
    padding: 0;
}

.add-item-label {
    width: 76px;
    height: 22px;
    margin-left: 50px;
    color: #579AFF;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.contacts-add-item {

}
